{% extends 'layout.html' %}
{% load static %}

{% block pages_title %}
     Інформаційна система автоматизації нарахування заробітної плати
{% endblock %}

{% block pages_content %}
    <div class="main_text">
        <h2><strong>Автоматизації нарахування заробітної плати</strong></h2>
    </div>
    <div class="head_about_company"><u><br>Про нашу систему</u></div>
        <div class="about_company">
            <p>
                Інформаційна система автоматизації нарахування заробітної плати (ІСНЗП) є комплексною програмно-апаратною системою, спрямованою на оптимізацію та автоматизацію процесів, пов'язаних з розрахунком заробітної плати співробітників організації.
            </p>
            <p>
                <br>Основні складові та функції системи включають:
            </p>
            <ul>
                <li><strong>Розрахунок зарплати:</strong> автоматизований розрахунок заробітної плати відповідно до умов трудового договору, податків, відрахувань та інших факторів.</li>
                <li><strong>Оподаткування та відрахування:</strong> розрахунок податків, соціальних відрахувань та інших обов'язкових платежів.</li>
                <li><strong>Бонуси та додаткові виплати:</strong> розрахунок премій, бонусів, винагород та інших додаткових виплат.</li>
                <li><strong>Формування звітності:</strong> автоматизована генерація звітів для податкових та інших органів.</li>
                <li><strong>Індивідуальні налаштування:</strong> можливість внесення індивідуальних уточнень до розрахунків для кожного співробітника.</li>
                <li><strong>Електронна обробка та зберігання документації:</strong> зберігання електронних копій документів, пов'язаних із заробітною платою, таких як платіжні відомості, трудові угоди тощо.</li>
                <li><strong>Інтеграція з бухгалтерською системою:</strong> обмін даними з бухгалтерією для забезпечення точності фінансового обліку.</li>
                <li><strong>Система безпеки:</strong> захист конфіденційної інформації та забезпечення доступу до даних лише авторизованим користувачам.</li>
                <li><strong>Журнали доступу:</strong> ведення журналів доступу для відстеження змін та операцій.</li>
            </ul>
            <p>
                <br>Використання ІСНЗП дозволяє підприємствам ефективно ведення обліку заробітної плати, уникнення помилок та зекономлення часу, який можна витратити на інші стратегічні завдання.
            </p>
        <div>
            <img src="{% static 'img/accounting_image.jpg' %}" alt="Accounting image" class="accounting_image">
        </div>
{% endblock %}